body{
    background-color: rgb(42, 40, 39);
}
#aboutschedule{
    width: 250px;
    height: 350px;
    float: left;
    padding-top: 10%;
    width: 50%;
    text-align: center;
}
.our-schedule{
    color: rgb(37, 37, 236);
    padding-top: 50px;
    font-family: copperplate;
    width: 50%;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10vh;
    width: 500px;
    margin: auto;
}
.card{
    background: rgb(21, 21, 21);
    height: 10vh;
    width: 500px;
    margin: auto;
    color: white;
    margin: 10px;
    
}
.float{
    float: left;
    padding-top: 2.5vh;
}
.blue{
    background-color: blue;
}
.content{
    padding-left: 20vh;
    padding: center;
    padding-top: 2.5vh;
}